// Navigation
.c-menu {
  background-color: rgba(27, 26, 26, 0.95);
}

.c-menu__left {
  color: white;
  width: 50px;

  img {
    width: 100%;
    padding: 1rem;
  }
}

.c-menu-navigation__list {
  padding: 0;
}

.c-menu-navigation__list * {
  margin: 0.5rem 1rem;
  text-decoration: none;
  color: white;
}

.fa-bars {
  color: white;
  margin: auto 0;
  text-align: right;
  z-index: 99;
}

@media screen and (max-width: 600px) {
  .fa-bars {
    display: inline;
    padding: 1rem;
    font-size: 2rem;
  }

  .c-menu-navigation__list {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  .fa-bars {
    display: none;
  }
}

// Index
.recommend-prod {
  .featproducts-item_container {
    .product-details {
      padding: 0;
      h2 {
        font-size: 1.1rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }

  .featproducts-item_container:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

// Products page

.prod-list,
.recommend-prod {
  .products-item_container,
  .featproducts-item_container {
    background-color: white;
    border-radius: 5px;

    a,
    div,
    .product-img {
      padding: 1rem;
    }
  }

  .products-item_container:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

.prod-list-filters_title {
  font-weight: 400;
  font-size: 2rem;
  font-family: "Nunito100", "sans-serif";
}

#prod-list-filters_name {
  height: 25px;
  width: 200px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-color: #e74c3c;
  outline: none;
  transition: width 0.7s, margin 0.7s;
}

@media screen and (max-width: 600px) {
  .prod-list-filters {
    flex-direction: column;
  }

  #prod-list-filters_name:focus {
    width: 200px !important;
    margin-right: 0 !important;
  }
}

#prod-list-filters_name:focus {
  width: 400px;
  margin-right: 70px;
}

.product {
  text-decoration: none;
}

.product-img {
  height: 190px;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.product-details {
  color: black;
}

.product-details_title {
  font-size: 1.1rem;
  margin: 0;
  line-height: 1.2;
  font-weight: 300;
  font-family: "PT Sans", "sans-serif";
}

.product-details_price {
  margin: 5px 0 0 0;
  font-size: 0.9rem;
}

.product-details_addcart {
  font-family: "PT Sans", "sans-serif";
  font-size: 0.9rem;
  font-weight: 400;
}

.product-details_addcart:hover {
  cursor: pointer;
}

// Details

.details-image {
  // max-width: 800px;
  margin: 30px;
}

.details-image img {
  width: 30vw;
  // object-fit: contain;
  // overflow: hidden;
}

.details-info {
  margin: 30px;
}

.details-info_title {
  font-size: 1.8rem;
  margin-top: 0;
}

.details-info_price {
  font-size: 1.4rem;
}

// Edit/Admin page
.editprod-list_products {
  color: black;
  text-decoration: none;
}

.editprod-list_products:hover {
  border-bottom: 1px solid #e74c3c;
}

.fa-trash-alt {
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

// Log-In
.login {
  background-color: white;
  border-radius: 5px;
}

.login-form_container {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

#login-form_email,
#login-form_password {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-color: #e74c3c;
  outline: none;
  width: 100%;
}

.login-form_label {
  font-family: "PT Sans", "sans-serif";
  margin-bottom: 4px;
}

.login-info_list {
  // padding-left: 0;
  li {
    // list-style: none;
    font-family: "PT Sans", "sans-serif";
  }
}

// Update product form
.edit-form {
  background-color: white;
  border-radius: 5px;
}

.edit-form_container {
  display: flex;
  flex-direction: column;
  margin: 15px 0;

  button {
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 10px;
  }
}

.edit-form_label {
  font-family: "PT Sans", "sans-serif";
  margin-bottom: 4px;
}

.edit-form_input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-color: #e74c3c;
  outline: none;
  width: 70%;
}

// Shopping Cart

.shoppingcart {
  background-color: white;
  border-radius: 5px;

  h2 {
    margin: 20px;
  }

  .shoppingcart-sum {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .shoppingcart-checkout {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #e74c3c;
    color: white;
    margin: 1rem;
  }

  .shoppingcart-checkout:hover {
    cursor: pointer;
  }
}

.shoppingcart-item {
  display: flex;
  margin: 5px 0 5px 20px;

  a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    // margin-top: 50px;
    display: inline;
  }

  p {
    // margin-top: 20px;
    text-align: start;
  }
}

.shoppingcart-item_image {
  width: 90px;

  img {
    width: 100%;
  }
}

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  background-color: rgba(27, 26, 26, 0.95);
  margin-top: 40px;
  color: white;

  .footer-contact {
    display: flex;
    flex-direction: column;

    a {
      color: white;
      text-decoration: none;
    }
  }
}
