.c-menu {
  display: flex;
  justify-content: space-between;
  // margin-right: 1rem;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 99;
}

.c-menu-navigation__list {
  display: flex;
  list-style: none;
}

.c-hero {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}

.c-hero__image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

// Main section

.index-main {
  position: absolute;
  top: 110vh;
  margin: 0 8.33%;
}

.recommend-prod {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

// Products
.prod-list-filters {
  margin: 0 8.33%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prod-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin: 0 8.33%;
}

.editprod-list,
.editprod-title {
  margin: 0 8.33%;
}

.editprod-list_tableinfo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid #e74c3c;
}

.editprod-list_products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

// Details
.details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// Log-In
.login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 300px;
  margin: auto;
  margin-top: 40px;
}

// Update products form
.edit-form {
  width: 800px;
  // height: 00px;
  margin: auto;
  margin-top: auto;
  margin-top: 40px;
}

// Shopping cart
.shoppingcart {
  width: 60%;
  margin-left: 8.33%;
  margin-top: 8.33%;
}
