body {
  margin: 0;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

#activelink {
  text-decoration: underline #e74c3c;
}

@font-face {
  font-family: "Nunito SB";
  src: url("../fonts/Nunito/Nunito-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito100";
  src: url("../fonts/Nunito/Nunito-Regular.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans/PTSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3 {
  font-family: "Nunito SB", "sans-serif";
}

p,
a {
  font-family: "PT Sans", "sans-serif";
}

.c-menu {
  background-color: rgba(27, 26, 26, 0.95);
}

.c-menu__left {
  color: white;
  width: 50px;
}
.c-menu__left img {
  width: 100%;
  padding: 1rem;
}

.c-menu-navigation__list {
  padding: 0;
}

.c-menu-navigation__list * {
  margin: 0.5rem 1rem;
  text-decoration: none;
  color: white;
}

.fa-bars {
  color: white;
  margin: auto 0;
  text-align: right;
  z-index: 99;
}

@media screen and (max-width: 600px) {
  .fa-bars {
    display: inline;
    padding: 1rem;
    font-size: 2rem;
  }

  .c-menu-navigation__list {
    display: none;
  }
}
@media screen and (min-width: 601px) {
  .fa-bars {
    display: none;
  }
}
.recommend-prod .featproducts-item_container .product-details {
  padding: 0;
}
.recommend-prod .featproducts-item_container .product-details h2 {
  font-size: 1.1rem;
}
.recommend-prod .featproducts-item_container .product-details p {
  font-size: 0.9rem;
}
.recommend-prod .featproducts-item_container:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.prod-list .products-item_container,
.prod-list .featproducts-item_container,
.recommend-prod .products-item_container,
.recommend-prod .featproducts-item_container {
  background-color: white;
  border-radius: 5px;
}
.prod-list .products-item_container a,
.prod-list .products-item_container div,
.prod-list .products-item_container .product-img,
.prod-list .featproducts-item_container a,
.prod-list .featproducts-item_container div,
.prod-list .featproducts-item_container .product-img,
.recommend-prod .products-item_container a,
.recommend-prod .products-item_container div,
.recommend-prod .products-item_container .product-img,
.recommend-prod .featproducts-item_container a,
.recommend-prod .featproducts-item_container div,
.recommend-prod .featproducts-item_container .product-img {
  padding: 1rem;
}
.prod-list .products-item_container:hover,
.recommend-prod .products-item_container:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.prod-list-filters_title {
  font-weight: 400;
  font-size: 2rem;
  font-family: "Nunito100", "sans-serif";
}

#prod-list-filters_name {
  height: 25px;
  width: 200px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-color: #e74c3c;
  outline: none;
  transition: width 0.7s, margin 0.7s;
}

@media screen and (max-width: 600px) {
  .prod-list-filters {
    flex-direction: column;
  }

  #prod-list-filters_name:focus {
    width: 200px !important;
    margin-right: 0 !important;
  }
}
#prod-list-filters_name:focus {
  width: 400px;
  margin-right: 70px;
}

.product {
  text-decoration: none;
}

.product-img {
  height: 190px;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.product-details {
  color: black;
}

.product-details_title {
  font-size: 1.1rem;
  margin: 0;
  line-height: 1.2;
  font-weight: 300;
  font-family: "PT Sans", "sans-serif";
}

.product-details_price {
  margin: 5px 0 0 0;
  font-size: 0.9rem;
}

.product-details_addcart {
  font-family: "PT Sans", "sans-serif";
  font-size: 0.9rem;
  font-weight: 400;
}

.product-details_addcart:hover {
  cursor: pointer;
}

.details-image {
  margin: 30px;
}

.details-image img {
  width: 30vw;
}

.details-info {
  margin: 30px;
}

.details-info_title {
  font-size: 1.8rem;
  margin-top: 0;
}

.details-info_price {
  font-size: 1.4rem;
}

.editprod-list_products {
  color: black;
  text-decoration: none;
}

.editprod-list_products:hover {
  border-bottom: 1px solid #e74c3c;
}

.fa-trash-alt {
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.login {
  background-color: white;
  border-radius: 5px;
}

.login-form_container {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

#login-form_email,
#login-form_password {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-color: #e74c3c;
  outline: none;
  width: 100%;
}

.login-form_label {
  font-family: "PT Sans", "sans-serif";
  margin-bottom: 4px;
}

.login-info_list li {
  font-family: "PT Sans", "sans-serif";
}

.edit-form {
  background-color: white;
  border-radius: 5px;
}

.edit-form_container {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.edit-form_container button {
  width: 100px;
  height: 50px;
  padding: 10px;
  margin: 10px;
}

.edit-form_label {
  font-family: "PT Sans", "sans-serif";
  margin-bottom: 4px;
}

.edit-form_input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-color: #e74c3c;
  outline: none;
  width: 70%;
}

.shoppingcart {
  background-color: white;
  border-radius: 5px;
}
.shoppingcart h2 {
  margin: 20px;
}
.shoppingcart .shoppingcart-sum {
  font-size: 1.2rem;
  padding: 1rem;
}
.shoppingcart .shoppingcart-checkout {
  width: 100px;
  height: 40px;
  border: none;
  background-color: #e74c3c;
  color: white;
  margin: 1rem;
}
.shoppingcart .shoppingcart-checkout:hover {
  cursor: pointer;
}

.shoppingcart-item {
  display: flex;
  margin: 5px 0 5px 20px;
}
.shoppingcart-item a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  display: inline;
}
.shoppingcart-item p {
  text-align: start;
}

.shoppingcart-item_image {
  width: 90px;
}
.shoppingcart-item_image img {
  width: 100%;
}

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  background-color: rgba(27, 26, 26, 0.95);
  margin-top: 40px;
  color: white;
}
footer .footer-contact {
  display: flex;
  flex-direction: column;
}
footer .footer-contact a {
  color: white;
  text-decoration: none;
}

.c-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 601px) {
  .c-menu-navigation {
    grid-column: 2/3 !important;
  }

  .c-menu-navigation__list {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    height: 100%;
  }

  .fa-bars {
    display: none !important;
  }
}
@media screen and (max-width: 600px) {
  .c-menu-navigation__list {
    list-style: none;
  }
}
.c-hero {
  height: 100vh;
  max-width: 100vw;
  position: relative;
}

.c-hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-hero__image_text {
  position: absolute;
  color: white;
  font-family: "PT Sans", "sans-serif";
  font-size: 4rem;
  border: 5px solid white;
  padding: 1rem;
  animation: fadeInAnimation ease-in-out 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-decoration: none;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    bottom: 20%;
    right: 15%;
  }
  100% {
    opacity: 1;
    right: 15%;
    bottom: 30%;
  }
}
.index-main {
  margin: 0 8.33%;
}

.recommend-prod {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  grid-gap: 2rem;
}

.prod-list-filters {
  margin: 0 8.33%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prod-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  grid-gap: 2rem;
  margin: 0 8.33%;
}

.editprod-title {
  display: flex;
}
.editprod-title :nth-child(2) {
  text-decoration: none;
}
.editprod-title :last-child {
  margin-left: 40px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.editprod-list,
.editprod-title {
  margin: 0 8.33%;
}

.editprod-list_tableinfo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid #e74c3c;
}

.editprod-list_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}
.editprod-list_container .editprod-list_products {
  grid-column: 1/4;
}

.editprod-list_products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.details {
  display: grid;
  grid-template-columns: repeat(auto-fill, 40%);
  justify-content: center;
}

@media screen and (max-width: 670px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }
}
.login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 300px;
  margin: auto;
  margin-top: 40px;
}

@media screen and (max-width: 790px) {
  .login {
    flex-direction: column;
    width: 300px;
    height: 400px;
  }
}
.edit-form {
  width: 800px;
  margin: auto;
  margin-top: auto;
  margin-top: 40px;
}

.shoppingcart {
  width: 40%;
  margin-left: 4%;
  margin-top: 4%;
}

@media screen and (max-width: 800px) {
  .shoppingcart {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
